html
  box-sizing: border-box
  font-family: sans-serif
  height: 100%

  *,
  ::after,
  ::before
    box-sizing: inherit

body
  display: flex
  flex-direction: column
  height: 100%
  min-height: 100%
  min-width: 320px
  overflow-x: hidden
  overflow-wrap: break-word

  &.menu-open
    @media(max-width: 1023px)
      overflow: hidden

.page-content
  flex: 1 0 auto
  padding-bottom: 40px
  padding-top: 110px

  @media(min-width: 1024px)
    padding-bottom: 80px

  @media(min-width: 1900px)
    padding-top: 150px

.main-page
  .page-content
    @media(min-width: 1024px)
      padding-top: 135px

.container
  margin-left: auto
  margin-right: auto
  max-width: 1320px
  padding-left: 20px
  padding-right: 20px

.page-columns
  @media(min-width: 1200px)
    display: flex

  &__big
    margin-bottom: 40px

    @media(min-width: 1200px)
      flex-grow: 1
      padding-right: 40px
      margin-bottom: 0

  &__small
    @media(min-width: 1200px)
      min-width: 400px
      width: 400px

    & + .page-columns__big
      margin-bottom: 0

      @media(min-width: 1200px)
        padding-left: 40px
        padding-right: 0

    &:first-child
      margin-bottom: 40px

      @media(min-width: 1200px)
        margin-bottom: 0

    .sanitarium-card
      @media(max-width: 1199px)
        display: none

.text-block
  max-width: 840px

.include-area
  flex-shrink: 0
  width: 100%

  &:not(:last-child)
    padding-bottom: 40px

    @media(min-width: 1024px)
      padding-bottom: 80px
