<footer class="footer">
    <div class="footer__top container">
        <div class="footer__logo"><img src="images/logo.svg" alt="ПСПФНР"></div>
        <div class="footer__column">
            <p class="footer__title"><a href="about.html">О нас</a></p>
            <ul class="footer__menu">
                <li><a href="for-what.html">Для чего нужен Профсоюз</a></li>
                <li><a href="management.html">Руководство</a></li>
                <li><a href="we-help.html">Мы помогаем</a></li>
                <li><a href="deaf.html">Слабослышащим членам Профсоюза</a></li>
                <li><a href="structure.html">Структура Профсоюза</a></li>
                <li><a href="regions.html">Представительства в регионах</a></li>
                <li><a href="codex.html">Кодекс этики</a></li>
                <li><a href="docs.html">Уставные документы</a></li>
            </ul>
        </div>
        <div class="footer__column">
            <p class="footer__title"><a href="programs.html">Программы</a></p>
            <ul class="footer__menu">
                <li><a href="prog_1.html">Жилищная программа</a></li>
                <li><a href="#">Топливная программа</a></li>
                <li><a href="#">Транспортная программа</a></li>
                <li><a href="prog_2.html">Санаторно-курортная программа</a></li>
                <li><a href="#">Программа страхования</a></li>
                <li><a href="#">Обучающие курсы</a></li>
            </ul>
        </div>
        <div class="footer__column">
            <p class="footer__title"><a href="law-help.html">Юр. помощь</a></p>
            <ul class="footer__menu">
                <li><a href="law-help-hiw.html">Как это работает</a></li>
                <li><a href="law-help-video.html">Видеокурс юридической грамотности</a></li>
                <li><a href="law-help-files.html">Законодательство</a></li>
            </ul>
            <p class="footer__title"><a href="news.html">Новости</a></p>
            <p class="footer__title"><a href="how-get.html">Как вступить</a></p>
            <ul class="footer__menu">
                <li><a href="conditions.html">Порядок и условия</a></li>
                <li><a href="pays.html">Взносы</a></li>
            </ul>
        </div>
        <div class="footer__column">
            <p class="footer__title"><a href="contacts.html">Контакты</a></p>
            <div class="social-links">
                <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Instagram">
                    <svg>
                        <use xlink:href="#inst"></use>
                    </svg>
                </a>
                <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Одноклассники">
                    <svg>
                        <use xlink:href="#ok"></use>
                    </svg>
                </a>
                <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Вконтакте">
                    <svg>
                        <use xlink:href="#vk"></use>
                    </svg>
                </a>
                <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer noopener" title="Facebook">
                    <svg>
                        <use xlink:href="#fb"></use>
                    </svg>
                </a>
                <a class="social-link" href="#" target="_blank" rel="nofollow noreferrer noopener" title="YouTube">
                    <svg>
                        <use xlink:href="#yt"></use>
                    </svg>
                </a>
            </div>
            <p class="footer__title">Горячая линия юридической<br> поддержки:</p>
            <p class="footer__phone"><a href="tel:+78003503385">8 800 350-33-85</a></p>
            <p class="footer__work-time">
                ПН-ПТ: 9.00-18.00<br>
                СБ-ВС: Выходной
            </p>
        </div>
    </div>
    <div class="footer__emails">
        <div class="container">
            <span>Топливная программа: <a href="milto:">toplivo@pspfnr.com</a></span>
            <span>Юридическая помощь: <a href="mailto:toplivo@pspfnr.com">toplivo@pspfnr.com</a></span>
            <span>Пресс-служба: <a href="mailto:toplivo@pspfnr.com">toplivo@pspfnr.com</a></span>
        </div>
    </div>
    <div class="footer__links">
        <div class="container">
            <a href="#">Условия обработки персональных данных</a>
            <a href="#">Политика в отношении обработки персональных данных</a>
        </div>
    </div>
</footer>