<header class="header">
    <div class="header__top container">
        <a class="header__ally" href="#">
            <svg>
                <use xlink:href="#eye"></use>
            </svg>
            Версия для слабовидящих
        </a>
        <button class="js-search-opener header__search-opener" type="button">
            <svg>
                <use xlink:href="#search"></use>
            </svg>
            Поиск
        </button>
        <div class="search-popup">
            <button class="js-search-closer search-popup__close" type="button" title="Закрыть">
                <svg aria-hidden="true">
                    <use xlink:href="#close" />
                </svg>
            </button>
            <form class="search-bar" method="post" action="search.html">
                <label class="search-bar__label" for="search">
                    <input id="search" class="search-bar__input input" type="text" name="search" value="" placeholder="Введите запрос для поиска..." autocomplete="off">
                </label>
                <button class="search-bar__button" type="submit" title="Найти">
                    <svg class="search-bar__button-icon" aria-hidden="true">
                        <use xlink:href="#search" />
                    </svg>
                </button>
            </form>
        </div>
    </div>
    <div class="header__bottom">
        <div class="header__bottom-inner container">
            <a class="header__logo" href="main.html">
                <img src="images/logo.svg" alt="На главную">
            </a>
            <button class="js-menu-opener header__burger" type="button">
                <svg>
                    <use xlink:href="#burger"></use>
                </svg>
                Меню
            </button>
            <nav class="main-menu">
                <ul class="main-menu__list main-menu__list--desktop">
                    <li class="main-menu__item">
                        <a class="main-menu__link" href="about.html">О нас</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__link" href="#">Программы</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__link" href="law-help.html">Юр. помощь</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__link" href="#">Как вступить?</a>
                    </li>
                    <li class="main-menu__item">
                        <a class="main-menu__link" href="contacts.html">Контакты</a>
                    </li>
                </ul>
                <div class="main-menu__dropdown">
                    <button class="js-menu-closer main-menu__dropdown-close" type="button" title="Закрыть">
                        <svg aria-hidden="true">
                            <use xlink:href="#close" />
                        </svg>
                    </button>
                    <ul class="main-menu__list">
                        <li class="main-menu__item">
                            <a class="main-menu__link" href="about.html">О нас</a>
                            <ul class="main-menu__submenu">
                                <li class="main-menu__submenu-item"><a class="main-menu__submenu-link" href="for-what.html">Для чего нужен Профсоюз</a></li>
                                <li class="main-menu__submenu-item"><a class="main-menu__submenu-link" href="management.html">Руководство</a></li>
                                <li class="main-menu__submenu-item"><a class="main-menu__submenu-link" href="we-help.html">Мы помогаем</a></li>
                                <li class="main-menu__submenu-item"><a class="main-menu__submenu-link" href="#">Слабослышащим членам Профсоюза</a></li>
                                <li class="main-menu__submenu-item"><a class="main-menu__submenu-link" href="#">Структура Профсоюза</a></li>
                                <li class="main-menu__submenu-item"><a class="main-menu__submenu-link" href="#">Представительства в регионах</a></li>
                                <li class="main-menu__submenu-item"><a class="main-menu__submenu-link" href="codex.html">Кодекс этики</a></li>
                                <li class="main-menu__submenu-item"><a class="main-menu__submenu-link" href="docs.html">Уставные документы</a></li>
                            </ul>
                        </li>
                        <li class="main-menu__item">
                            <a class="main-menu__link" href="#">Программы</a>
                            <ul class="main-menu__submenu">
                                <li class="main-menu__submenu-item"><a class="main-menu__submenu-link" href="#">Жилищная программа
                                <li class="main-menu__submenu-item"><a class="main-menu__submenu-link" href="#">Топливная программа</a></li>
                                <li class="main-menu__submenu-item"><a class="main-menu__submenu-link" href="#">Транспортная программа</a></li>
                                <li class="main-menu__submenu-item"><a class="main-menu__submenu-link" href="#">Санаторно-курортная программа</a></li>
                                <li class="main-menu__submenu-item"><a class="main-menu__submenu-link" href="#">Программа страхования</a></li>
                                <li class="main-menu__submenu-item"><a class="main-menu__submenu-link" href="#">Обучающие курсы</a></li>
                            </ul>
                        </li>
                        <li class="main-menu__item">
                            <a class="main-menu__link" href="law-help.html">Юр. помощь</a>
                            <ul class="main-menu__submenu">
                                <li class="main-menu__submenu-item"><a class="main-menu__submenu-link" href="law-help-hiw.html">Как это работает</a></li>
                                <li class="main-menu__submenu-item"><a class="main-menu__submenu-link" href="law-help-video.html">Видеокурс юридической грамотности</a></li>
                                <li class="main-menu__submenu-item"><a class="main-menu__submenu-link" href="law-help-files.html">Законодательство</a></li>
                            </ul>
                        </li>
                        <li class="main-menu__item">
                            <a class="main-menu__link" href="#">Как вступить?</a>
                            <ul class="main-menu__submenu">
                                <li class="main-menu__submenu-item"><a class="main-menu__submenu-link" href="#">Порядок и условия</a></li>
                                <li class="main-menu__submenu-item"><a class="main-menu__submenu-link" href="pays.html">Взносы</a></li>
                            </ul>
                            <a class="main-menu__link" href="contacts.html">Контакты</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <a class="header__personal" href="personal.html">
                <svg>
                    <use xlink:href="#personal"></use>
                </svg>
                <span>Личный кабинет</span>
            </a>
            <a class="header__cart-link" href="cart.html" title="Корзина">
                <svg>
                    <use xlink:href="#cart"></use>
                </svg>
                <span class="header__cart-qnt">1</span>
            </a>
        </div>
    </div>
</header>