<div class="info">
    <h2>ПСПФНР сегодня</h2>
    <div class="info__columns">
        <div class="info__column">
            <p class="info__title"><small>></small> 6 <small>лет</small></p>
            <p>со дня основания</p>
        </div>
        <div class="info__column">
            <p class="info__title"><small>></small> 80</p>
            <p>городских подразделений</p>
        </div>
        <div class="info__column">
            <p class="info__title"><small>></small> 20 <small>000</small></p>
            <p>членов организации</p>
        </div>
    </div>
    <a class="btn btn--type_1" href="#"><span>Вступить в ПСПФНР</span></a>
</div>