.grants-form {
    .grant-description {
        display: none;
        margin-bottom: 20px;
    }

    .input-label {
        display: none;
    }

    .select-wrapper {
        display: none;
    }

    .buttons-block {
        display: none;
    }
}