.titled-banner
  background-color: $border-color
  position: relative

  &:not(:last-child)
    margin-bottom: 40px

  &::before
    bottom: 0
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%)
    content: ''
    height: 50%
    left: 0
    position: absolute
    top: auto
    width: 100%
    z-index: 1

  img
    object-fit: cover
    height: 315px
    width: 100%

    @media(min-width: 1024px)
      height: 465px

  &__title
    align-items: center
    bottom: 0
    color: #fff
    display: flex
    left: 0
    padding: 20px
    position: absolute
    top: auto
    z-index: 2

    @media(min-width: 1024px)
      padding: 30px

    & > *
      margin-top: 0
      margin-bottom: 0

    svg
      fill: #fff
      height: 30px
      margin-right: 20px
      min-width: 30px
      width: 30px

      @media(min-width: 1024px)
        height: 42px
        min-width: 42px
        width: 42px

    h1
      @media(min-width: 1024px)
        font-size: 38px
